<ion-header>
  <ion-toolbar text-center class="Cabecera">
      <ion-buttons  slot = "start">
          <ion-back-button text="" icon="arrow-back" color="danger"></ion-back-button>
        </ion-buttons>
    <ion-title color="light">Pulgar Izquierdo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
    <ion-label><br>(Presion y ángulo respecto al bastón)</ion-label>
    <p> 
        <img src="../assets/pulgar-izquierdo.jpg" class="Image">
    </p>

    <div class="Texto">
      <p>¡Felicidades!</p>
      <p>Tu posición es increíble.</p>
      <p>¡Sigue así!</p>
    </div>
  
    <ion-badge class="Zona" color="success">.</ion-badge>
    <ion-icon class="Borde" name="radio-button-off"></ion-icon>
    <ion-icon class="Excellent" name="checkmark-circle"></ion-icon>
</ion-content>
