<ion-header>
    <ion-toolbar class = "Cabecera">
      <ion-buttons  slot = "start">
        <ion-back-button class="Regreso" text="" icon="arrow-back" ></ion-back-button>
      </ion-buttons>
      <ion-title class="Titulo" >GUANTE IZQUIERDO</ion-title>
    </ion-toolbar>
</ion-header>


  <ion-content text-center fullscreen>
      <ion-label class="Subtitulo" >Presione la zona con la que desea interactuar</ion-label>
      <img src="../assets/Izquierda.jpg" class="Image">

      <p>
      <ion-button class="Pulgar" routerLink='/pulgar-i' text-center shape="round" color="success">
      </ion-button>
      </p> <p>
      <ion-button class="Indice"routerLink='/indice-i' text-center shape="round"    color="warning">
      </ion-button>
      </p> <p>
      <ion-button class="Menique"routerLink='/menique-i' text-center shape="round" color="success">
      </ion-button>
      </p> <p>
      <ion-button class="Palma" routerLink='/palma-i' text-center shape="round"  color="danger">
      </ion-button>
      </p> 
  </ion-content>