<ion-header>
  <ion-toolbar style="text-align:center" class="GripIzquierdo">
      <ion-title >GUANTE IZQUIERDO</ion-title>
      <ion-label >Presiona la zona con la que deseas interactuar</ion-label>
    </ion-toolbar>
  </ion-header>


  <ion-content text-center fullscreen>
    <p> </p>
    <p> </p>
    <p> </p>
      <img src="../assets/Izquierda.jpg" />

      <p>
      <ion-button class="Excellent" routerLink='/pulgar-i' text-center shape="round" color="success">Pulgar </ion-button>
      </p> <p>
      <ion-button class="Warning"routerLink='/indice-i' text-center shape="round"    color="warning">Indice </ion-button>
      </p> <p>
      <ion-button class="Excellent"routerLink='/menique-i' text-center shape="round" color="success">Meñique</ion-button>
      </p> <p>
      <ion-button class="Bad"routerLink='/palma-i' text-center shape="round"         color="danger">Palma  </ion-button>
      </p> 
  </ion-content>