<ion-header>
    <ion-toolbar text-center class="Cabecera">
        <ion-buttons  slot = "start">
            <ion-back-button color="danger" text="" icon="arrow-back" ></ion-back-button>
          </ion-buttons>
      <ion-title class="Titulo">T U T O R I A L</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button class="Button" routerLink='' icon-left text-center shape="round" color="secondary">
    <p>
    VIDEO
    DEMOSTRATIVO
    </p>
        <ion-icon slot="start" name="play-circle" color="dark"></ion-icon>
    </ion-button>