.Cabecera{
    --background: rgba(18, 18, 75, 0.842);
    padding-top:  3%;
}

.Titulo{
    color:white;
    text-align: center;
}

.Button{
    position: absolute;
    top: 13%;    
    display: block;
    width: 65%;
    margin-left:auto;
    margin-right:auto;
    right: 17.5%;
}