.Titulo{
    color:white;
}

.Cabecera{
    --background: rgba(18, 18, 75, 0.842);
}

.Borde{
    border: black 3px solid;
}

.Cabecera{
    --background: rgba(18, 18, 75, 0.842);
    padding-top:  3%;
}