<ion-header>
    <ion-toolbar class = "head">
      <ion-title class="titulo" style="text-align:center" >GoodGrip</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <br>
    <img class="icon" src="assets/icon/icon5_login.png">
    <br>
    <ion-item>
    
      <ion-label position='floating' class ="label1"> Correo electrónico </ion-label>
      <ion-input type="text" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position='floating'class ="label1"> Contraseña </ion-label>
      <ion-input type="password" name="password"></ion-input>
    </ion-item>
    <br>
      <ion-button class = "boton"  [routerLink]="['/menu']" expand="block" fill="outline"> Comenzar </ion-button>
          
      <ion-button class = "boton"  [routerLink]="['/registro']" expand="block" fill="outline"> Registrate </ion-button>



      
    </ion-content>