.bienvenida{
    width: 100vw;
    height: 100vh;
    background: #1375B2; 
}
.boton{
    position: absolute;
    width: 60%; 
    top:   60%;
    right: 20%;
    color: #ffffff;
    }
.head{
        --background: #c1daeb;
        height: 10vh;
        width: 100vw;
        padding-top: 2%;
    }
.titulo{
        font-size: 30px;
        --background:#ffffff;
        --color:#000000;
    }
.imagen{
    background: #c1daeb;
    height: 6vh;
    width: 7vw;
    margin-left: auto;
}
