.bienvenida{
    width: 100vw;
    height: 100vh;
    background: #1375B2; 
}
.calendario{height: 50vh;}
.boton{
    position: absolute;
    width: 60%; 
    top:   60%;
    right: 20%;
    color: #ffffff;
    }
.boton1{
    /*position: relative;
    width: 60%;
    height: 5vh;
    top: 10%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 20px;
    background: #c1daeb; 
    color: #ffffff;
    }
.head{
        --background: #c1daeb;
        height: 10vh;
        width: 100vw;
        padding-top: 2%;
    }
.titulo{
        font-size: 30px;
        --background:#ffffff;
        --color:#000000;
    }
.imagen{
    background: #c1daeb;
    height: 6vh;
    width: 7vw;
    margin-left: auto;
}

.ListaDias{
    position: absolute;
    text-align: center;
    top:    58%;
    left:   0%;
    height: 35%;
}

.Borde{
    border: black 3px solid;
}
