.Excellent{
    color: green;
    font-size: 90px;
    position: absolute;
    left:   40%;
    top:    78%;
}

.Warning{
    color: orange;
    font-size: 90px;
    position: absolute;
    left:   40%;
    top:    78%;
}

.Bad{
    color: red;
    font-size: 90px;
    position: absolute;
    left:   40%;
    top:    78%;
}

.Cabecera{
    --background: rgba(18, 18, 75, 0.842);
    padding-top:  3%;
}
.Image{
    position: absolute;
    left:   29%;
    top:    11%;
    align-items: center;
}
.Texto{
    position: absolute;
    top:   60%;
    right: 12%;
    border: red 2px solid;
    background: rgb(221, 134, 148);
}

.Zona{
    position: absolute;
    top:    22%;
    right:  57.5%;
    width:  6.5%;
    height: 10%;
    color: transparent;
    transform: rotate(-11deg);

}
.Borde{
    font-size: 450px;
    color: black;
    position: absolute; 
    top:  2%;
    left: -10%;
}