<ion-header>
  <ion-toolbar text-center class="Cabecera">
      <ion-buttons  slot = "start">
          <ion-back-button text="" icon="arrow-back" color="danger"></ion-back-button>
        </ion-buttons>
    <ion-title color="light">Meñique Derecho</ion-title>
    <ion-label ></ion-label>
  </ion-toolbar>
</ion-header>

<ion-content text-center>

    <p> 
        <img src="../assets/menique-derecho.jpg" class="Image">
    </p>

    <div class="Texto">
      <p>¡Cuidado!</p>
      <p> Presta mucha atención a esta posición. </p>
      <p>¡Tu puedes! </p>
    </div>

  <ion-badge class="Zona" color="danger">.</ion-badge>
  <ion-icon class="Borde" name="radio-button-off"></ion-icon>
  <ion-icon class="Bad" name="close-circle-outline"></ion-icon>
</ion-content>
