<ion-header>
  <ion-toolbar text-center>
    <ion-title>Estadisticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align:center">

    <ion-button routerLink='/grip-izquierdo' icon-left text-center shape="round" color="warning" >Grip Izquierdo
        <ion-icon class="Left-Hand" slot="start" name="ios-hand"></ion-icon>
    </ion-button>
    <ion-button routerLink='/grip-derecho' icon-left text-center shape="round" color="warning">Grip Derecho
        <ion-icon class="Right-Hand" slot="end" name="md-hand" ></ion-icon>
    </ion-button>

    <ion-item class="my-item">
      <ion-label class="my-item"> Tiempo de juego:</ion-label>
      <ion-badge class="my-item">1h 15min</ion-badge>
    </ion-item>
</ion-content>
