.bienvenida{
    width: 100vw;
    height: 100vh;
    background: #1375B2; 
}
.boton{
    top: 10%;
    position: relative;
    width:  45%;
    height: 35%;
    margin-top: 5%;
    margin-left: 2%;
    left: 1.5%;
    font-size: 160%;
    color: black;
    
    }
.head{
        --background: rgba(18, 18, 75, 0.842);
        padding-top: 2%;
    }
.titulo{
    color:white;
    font-size: 200%;
    }
.imagen{
    background: #c1daeb;
    height: 6vh;
    width: 7vw;
    margin-left: auto;
}

ion-content{
    --ion-background-color: rgb(231, 230, 240);
}