
<ion-header>
    <ion-toolbar class = "Cabecera">
      <ion-buttons  slot = "start">
        <ion-back-button class="Regreso" text="" icon="arrow-back" ></ion-back-button>
      </ion-buttons>
      <ion-title class="Titulo" >GUANTE DERECHO</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content style="text-align:center" class="contenido">
    <ion-label class="Subtitulo" >Presione la zona con la que desea interactuar</ion-label>
    <img src="../assets/Derecha.jpg" class="Image">
    <p>

    <ion-button class="Pulgar" routerLink='/pulgar-d' text-center shape="round" color="success">
    </ion-button>

    </p> <p>

    <ion-button class="Indice" routerLink='/indice-d' text-center shape="round"  color="warning">
    </ion-button>

    </p> <p>

    <ion-button class="Palma" routerLink='/palma-d' text-center shape="round"   color="success">
    </ion-button>

    </p> <p>

    <ion-button class="Menique" routerLink='/menique-d' text-center shape="round" color="danger">
    </ion-button>

    </p>
</ion-content>
