<ion-header>
  <ion-toolbar style="text-align:center" class="GripDerecho">
    <ion-title >GUANTE DERECHO</ion-title>
    <ion-label >Presiona la zona con la que deseas interactuar</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align:center">
  <p> </p>
  <p> </p>

    <img src="../assets/Derecha.jpg" />
    <p> 
    <ion-button class="Excellent" routerLink='/pulgar-d' text-center shape="round" color="success">Pulgar </ion-button>
    </p> <p>
    <ion-button class="Warning"routerLink='/indice-d' text-center shape="round"    color="warning">Indice </ion-button>
    </p> <p>
    <ion-button class="Excellent"routerLink='/palma-d' text-center shape="round"   color="success">Palma  </ion-button>
    </p> <p>
    <ion-button class="Bad"routerLink='/menique-d' text-center shape="round"       color="danger"  >Meñique</ion-button>
    </p>
</ion-content>
